html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#stage{
height: 550px;
  width: 3000px;
  position:relative;
  top: 150px;
}
#container{
  position:absolute;
  bottom:150px;
}

#field{
  position:absolute;
  left: 700px;
}

.backgrounds{
  position:absolute;
  
  /* margin-top: 100px; */
}

.toppings{
  position:absolute;

}
#map{
  
  top: 54px;
  left:110px;

}
#table{
  top: 120px;
  left: 870px;
  
}
.toppings:hover{
  transform:scale(1.3);
}
.connecters{
  position:absolute;
  left:400px;
}
