html, body {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

canvas {
  
  display: block;
}

#stage{
  position:relative;
  width:3000px;
  height:200px;
}
#road{
  position:absolute;
  padding-top: 50px;
}

#container{
  padding-top: 0px;
  position:fixed;
}

.spots{
  position:absolute;
  top:300px ;
}

hr{
  width:3000px;
}